In [1]:
import pandas as pd

In [16]:
movies = pd.read_csv('movies.csv', index_col='rank')
movies.describe() # Picks integers and Floats

,year,runtime,rating,votes,revenue,metascore
count,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000
mean,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,3.205962,18.810908,0.945429,1.887626e+05,96.412043,16.634858
min,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,2010.000000,100.000000,6.200000,3.630900e+04,17.442500,47.750000
50%,2014.000000,111.000000,6.800000,1.107990e+05,60.375000,58.985043
75%,2016.000000,123.000000,7.400000,2.399098e+05,99.177500,71.000000
max,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

### 1. Data Wrangling (Check Whether there are any null values, duplicates, data format -utf8 encoded)

#### Measure of central tendency - 
* mean (Continuous variable i.e sales, income...,
* mode - Most repeated - Count/ categorical variable eg. male/female 
* Median - middle value when you **sort data**, ordinal data

#### Dropping an entire colum
* A very large no. of values is missing - More than 40% - To avoid biasness
#### NB: Take not to loose so much data which might cause underfit in your modelling.
* Sampling - Random, Cluster .. How many samples you would take for your right inference.
* Pick a % atleast  > 8% population

### 2. Descriptive Statistics (Exploratory Data Analysis - EDA)
#### Get to explain your Data with frequency tables - distributed mct, variation(dtd dev/var) and visualizations - Charts
#### Data normalization 
* Remove outlier - eg avg. 70k...max 1m - -12M would be an oulier

####  visualizations ( Charts)
* Pie Chart - Categorical data with less that 10 categories eg. Gender
* Bar/ Column Chart - Categorical data with many categories.
* Line Chart - Time Series- Data collected over time
* Scatter plot - Data points are spread out. Trend
* Box Plot  - Outliers, max, min, 75th %ile, 25th %ile, mean/median
* Histogram - Frequency (Count) distribution of sorted data. Perfectly normally distributed will form a bell shaped histogram.

#### Data normalization 
* Normally skewness
* Skewness Right/Left

#### Kurtosis

In [19]:
movies['genre'].value_counts().head(25)

Action,Adventure,Sci-Fi       50
Drama                         48
Comedy,Drama,Romance          35
Comedy                        32
Drama,Romance                 31
Action,Adventure,Fantasy      27
Comedy,Drama                  27
Animation,Adventure,Comedy    27
Comedy,Romance                26
Crime,Drama,Thriller          24
Crime,Drama,Mystery           23
Action,Adventure,Drama        18
Action,Crime,Drama            17
Horror,Thriller               16
Drama,Thriller                15
Action,Adventure,Comedy       14
Adventure,Family,Fantasy      14
Biography,Drama,History       14
Biography,Drama               14
Action,Crime,Thriller         12
Action,Comedy,Crime           12
Action,Adventure,Thriller     11
Horror                        11
Crime,Drama                   10
Action,Thriller                9
Name: genre, dtype: int64

####  Correlation - Explaining the relationship between continuous variables.
* Correlation coefficient - value 0 and 1( 0 and 100%)
* 0 - 0.3 - Low correlation
* 0.31 - 0.55 - Average correlation
* 0.56 -1 - Strong correlation

* Positive correlation - when one goes up, the other goes up and vise versa.
* Negative correlation - they go to different directions

###### .75 eg. Sales and marketing have a strong positive correlation
###### 0.34 E.g Price and sales have a negative correlation

In [ ]:
movies.corr()