In [33]:
import pandas as pd

movies_df = pd.read_csv('movies.csv', index_col = 'Title')
movies_df

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [34]:
# View The First Five

movies_df.tail()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [35]:
#Check the (rows, column)
movies_df.shape

(1000, 11)

In [36]:
# Get More Info- Use the Info Method

movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [37]:
temp = movies_df.append(movies_df)
temp.shape

(2000, 11)

In [38]:
# Remove duplicates from df

temp.drop_duplicates(inplace = True)

#Other Args-
# 1. first(default) = Drop Duplicates except the first occurrence
#2. last - Drop Duplicates except the last
#3. false - Drop all Duplicates

In [39]:
temp.shape

(1000, 11)

In [40]:
# Column Cleanup
#print out all columns

movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [41]:
# Use .rename() to rename certain or all columns
# Use a dict
movies_df.rename(columns={'Runtime (Minutes)' : 'Runtime', 
                          'Revenue (Millions)': 'Revenue'
                         }, inplace = True)

movies_df.columns = map(str.lower, movies_df.columns)
movies_df.columns

Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes', 'revenue', 'metascore'],
      dtype='object')

In [42]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1000 non-null   int64
 1   genre        1000 non-null   object
 2   description  1000 non-null   object
 3   director     1000 non-null   object
 4   actors       1000 non-null   object
 5   year         1000 non-null   int64
 6   runtime      1000 non-null   int64
 7   rating       1000 non-null   float64
 8   votes        1000 non-null   int64
 9   revenue      872 non-null    float64
 10  metascore    936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [43]:
# Dealing with Missing Values
# Get Rid of rows, columns with null values
# Replace null with non-null

In [44]:
# Check which cell in the df has null
# Us .isnull() Method

movies_df.isnull().sum()

rank             0
genre            0
description      0
director         0
actors           0
year             0
runtime          0
rating           0
votes            0
revenue        128
metascore       64
dtype: int64

In [45]:
# DRop a Column- Pass the axis = 1 arg.. Axis 1 - Column

#movies_df.dropna(inplace = True, axis = 1)
#movies_df.columns

In [46]:
# Remove the Null using .dropna()
#movies_df.dropna(inplace = True, axis = 1) - Drop Column
#movies_df.dropna(inplace = True)
#movies_df.info()
# DRop a Column- Pass the axis = 1 arg.. Axis 1 - Column

In [47]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1000 non-null   int64
 1   genre        1000 non-null   object
 2   description  1000 non-null   object
 3   director     1000 non-null   object
 4   actors       1000 non-null   object
 5   year         1000 non-null   int64
 6   runtime      1000 non-null   int64
 7   rating       1000 non-null   float64
 8   votes        1000 non-null   int64
 9   revenue      872 non-null    float64
 10  metascore    936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [48]:
revenue = movies_df['revenue']
metascore = movies_df['metascore']

In [49]:

revenue_mean = revenue.mean()
metascore_mean = metascore.mean()
print(revenue_mean)
print (metascore_mean)

82.95637614678897
58.98504273504273

In [50]:
# Replace the null with mean
# use fillna() method

revenue.fillna(revenue_mean, inplace = True)
metascore.fillna(metascore_mean, inplace = True)

movies_df.isnull().sum()

rank           0
genre          0
description    0
director       0
actors         0
year           0
runtime        0
rating         0
votes          0
revenue        0
metascore      0
dtype: int64

In [51]:
metascore =movies_df[['metascore']]
met_mean = metascore.mean()
met_mean

metascore.fillna(met_mean, inplace = True)

C:\Users\Charles\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [52]:
movies_df.isnull().sum()

rank           0
genre          0
description    0
director       0
actors         0
year           0
runtime        0
rating         0
votes          0
revenue        0
metascore      0
dtype: int64

In [53]:
# Use the Describe Method to get a summary of continuous variables
movies_df.describe()

,rank,year,runtime,rating,votes,revenue,metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,96.412043,16.634858
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,17.442500,47.750000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,60.375000,58.985043
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,99.177500,71.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [54]:
movies_df['genre'].value_counts().head()

Action,Adventure,Sci-Fi    50
Drama                      48
Comedy,Drama,Romance       35
Comedy                     32
Drama,Romance              31
Name: genre, dtype: int64

In [55]:
movies_df[['genre', 'rating']]

                                            genre  rating
Title
Guardians of the Galaxy   Action,Adventure,Sci-Fi     8.1
Prometheus               Adventure,Mystery,Sci-Fi     7.0
Split                             Horror,Thriller     7.3
Sing                      Animation,Comedy,Family     7.2
Suicide Squad            Action,Adventure,Fantasy     6.2
...                                           ...     ...
Secret in Their Eyes          Crime,Drama,Mystery     6.2
Hostel: Part II                            Horror     5.5
Step Up 2: The Streets        Drama,Music,Romance     6.2
Search Party                     Adventure,Comedy     5.6
Nine Lives                  Comedy,Family,Fantasy     5.3

[1000 rows x 2 columns]

In [56]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1000 non-null   int64
 1   genre        1000 non-null   object
 2   description  1000 non-null   object
 3   director     1000 non-null   object
 4   actors       1000 non-null   object
 5   year         1000 non-null   int64
 6   runtime      1000 non-null   int64
 7   rating       1000 non-null   float64
 8   votes        1000 non-null   int64
 9   revenue      1000 non-null   float64
 10  metascore    1000 non-null   float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [57]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1000 non-null   int64
 1   genre        1000 non-null   object
 2   description  1000 non-null   object
 3   director     1000 non-null   object
 4   actors       1000 non-null   object
 5   year         1000 non-null   int64
 6   runtime      1000 non-null   int64
 7   rating       1000 non-null   float64
 8   votes        1000 non-null   int64
 9   revenue      1000 non-null   float64
 10  metascore    1000 non-null   float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [60]:
movies_df.to_csv('dfmovies.csv')