In [4]:
import numpy as np
nan = np.nan

n = np.array([[nan, 0.30163819, nan],
       [0.54629113, 0.67017515, 0.9620984 ],
       [0.71410713, nan, 0.56288168],
       [ nan, 0.60435705, 0.83555395]])

num_one = np.nan_to_num(n)
n

array([[       nan, 0.30163819,        nan],
       [0.54629113, 0.67017515, 0.9620984 ],
       [0.71410713,        nan, 0.56288168],
       [       nan, 0.60435705, 0.83555395]])

In [7]:
num_two = np.nan_to_num(n)
num_two =np.where(num_two==0. ,np.mean(num_two), num_two)
num_two

array([[0.43309189, 0.30163819, 0.43309189],
       [0.54629113, 0.67017515, 0.9620984 ],
       [0.71410713, 0.43309189, 0.56288168],
       [0.43309189, 0.60435705, 0.83555395]])

In [13]:
num_three = np.nan_to_num(n)
num_three = np.where(num_three==0, np.mean(num_three, axis = ), 1)
num_three

SyntaxError: invalid syntax (<ipython-input-13-085d4ec67b79>, line 2)